<% content_for(:head) do %>
  <meta name="viewport" content="width=400, user-scalable=no">
  <%= stylesheet_link_tag    "mobile", :media => "all" %>
<% end %>

<h3 class="mobile-section-head">Choose a Section</h3>
<ul class="mobile-section-body">
  <% @sections.each do |s| %>
    <li class="mobile-linkrow"><%= link_to s.name, intro_page_for_section(s, @auth_user), :class => 'mobile-link' %></li>
  <% end %>
</ul>
