<% content_for :page_head_title, t(:'static.error_500.title') %>

<div class="error">
  <div class="error-dialog">
    <h1><%= t(:'static.error_500.header') %></h1>
    <p><%= t(:'static.error_500.message') %></p>
  </div>
</div>