<% content_for :page_head_title, t(:'static.error_nosections.title') %>

<div class="error">
  <div class="error-dialog">
    <h1><%= t(:'static.error_nostudents.header') %></h1>
    <p><%= t(:'static.error_nostudents.message').html_safe %></p>
  </div>
</div>
