<% content_for :page_head_title, t(:'static.error_notready.title') %>

<div class="error">
  <div class="error-dialog">
    <h1><%= t(:'static.error_notready.header') %></h1>
    <p><%= t(:'static.error_notready.message').html_safe %></p>
  </div>
</div>
