/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery-ui/datepicker
 *= require jquery-ui/dialog
 *= require jquery.timepicker.css
 */
@import "font-awesome-sprockets";
@import "font-awesome";

body {
	margin: 0px;
    padding: 10px;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
}

header {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  h1, h2, h3, h4 {
    display: inline-block;
    margin: 0 15px 0 0;
    vertical-align: middle;
  }
  a, button {
    font-size: 14px;
    margin-right: 5px;
    text-decoration: none;
    @media print {
      display: none;
    }
  }
  > a:first-child {
    vertical-align: middle;
  }
  form {
    margin-left: 5px;
  }
}

.navigation_link_back {
	padding-bottom: 8px;
	@media print {
		display: none;
	}
}
.navigation_link_back a {
	text-decoration: none;
}

table.attendancetypes {
	table-layout: fixed;
	width: 500px;
	@media screen and (max-width: 500px) {
		width: 100%;
	}
	border-collapse: collapse;
	margin-bottom: 10px;
	@media print {
		width: 100%;
	}
	tr.even {
			background-color: rgb(224, 220, 205);
			@media print {
				background-color: white;
			}
	}
	th {
		border: 1px solid rgb(179,179,179);
		padding: 4px 0px;
		color: white;
		background-color: rgb(81,80,76);
		font-size: 14px;
		@media screen and (max-width: 500px) {
			font-size: 12px;
			font-weight: normal;
		}
		@media print {
			background-color: white;
			color: black;
		}
	}
	td {
		border: 1px solid rgb(188, 186, 174);
		padding: 12px 0px;
		@media print {
			padding: 6px 0px;
			background-color: white !important;
		}
	}
	th,td {
		text-align: center;
		&.name {
			width: 35%;
			text-align: left;
			overflow: hidden;
			word-wrap: break-word;
			padding-left: 8px;
			padding-right: 8px;
			@media screen and (max-width: 500px) {
				font-size: 11px;
				padding-left: 6px;
				padding-right: 4px;
			}
		}
        &.checkin-col {
          width: 13%;
        }
		&.attendancetype {
			width: 13%;
			span.attendancetype-absolute, span.attendancetype-percent {
				@media screen and (max-width: 500px) {
					display: block;
					font-size: 11px;
					&.attendancetype-percent {
						font-size: 10px;
					}
				}
			}
		}
	}
}

.linkbutton {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
	text-decoration: none;
	background-color: #ddd;
    background-image: linear-gradient(#fcfcfc, #eee);
	color: #333;
	padding: 6px 10px;
	border: 1px solid #ccc;
    border-radius: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
    line-height: inherit;

    i {
      margin-right: 8px;
      font-size: 1em;
    }
    &:visited {
      background-color: #ddd;
      color: #333;
    }
    &:hover {
      background-color: #ccc;
      background-image: linear-gradient(#eee, #ddd);
      color: #333;
    }
}

.checkin {
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 1.25em;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex-item {
  margin: 5px 0;
}

.flex-item:first-child {
  margin-top: 0;
}

.flex-item:last-child {
  margin-bottom: 0;
}

.control {
  margin: 0 0 5px;
  font-size: 15px;
  padding: 4px 6px;
  border-radius: 3px;
  border: 1px solid #999;
}

.control-group {
  p {
    padding-left: 10px;
  }
}
