// Place all the styles related to the Meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert {
	position: absolute;
	font-size: 0.8em;
	background-color: white;
	border: 1px solid #DDDDDD;
	color: #555555;
	padding: 0px 8px;
	cursor: default;
	&.failed {
		color: red;
	}
}

.new_meeting {
	.starttime {
		label {
			@media screen and (max-width: 500px) {
				display: block;
			}
		}
		margin-bottom: 10px;
	}
	.initialtype {
		.type-radio {
			@media screen and (max-width: 500px) {
				display: block;
				padding: 3px 0px;
			}
		}
	}
}