// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#site_attendance {
  clear: both;
  table {
    border-collapse: collapse;
    table-layout: fixed;
    tr.highlight {
        background-color: #eee;
    }
    tr.separator th {
      border-right: none;
      border-left: none;
      text-align: left;
      font-size: 14px;
    }
    th, td {
      padding: 8px;
      line-height: 20px;
      height: 28px;
      width: 170px;
      min-width: 170px;
      max-width: 170px;
      white-space: nowrap;
      overflow: hidden;
      &.checkin-col {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        .override {
          text-decoration: line-through;
          color: #777;
        }
      }
    }
    th {
      border: 1px solid #999;
      background: #444;
      color: white;
      text-align: center;
      padding: 4px 8px;
      .fa, button {
        color: white;
      }
    }
    td {
      border: 1px solid #999;
      text-align: center;
      &.name {
        .next-to-remove {
          display: block;
          float: left;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 150px;
          font-size: 14px;
        }
        .remove-user-link {
          display: block;
          float: right;
          width: 20px;
        }
        text-align: left;
      }
      &.attendancetype {
        position: relative;
        padding: 0;
        width: 186px;
        min-width: 186px;
        max-width: 186px;
        height: 44px;
        .select-span {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          border: none;
          border-radius: 0;
          background: none;
          height: 45px;
          text-align: left;
          i {
            font-size: 1.2em;
            margin-right: 10px;
            vertical-align: middle;
          }
          &.outlined {
            outline: 3px solid #5B9DD9;
            outline-offset: -3px;
          }
        }
        .select-span-text {
          font-size: 15px;
          margin-left: 15px;
          position: relative;
          top: 10px;
          vertical-align: middle;
        }
        .select-arrow {
          position: absolute;
          top: 13px;
          right: 15px;
          color: black;
        }
      }
      .hidden-select {
        font-size: 15px;
        padding: 0;
        margin: 0;
        width: 100%;
        border: none;
        height: 44px;
        position: relative;
        z-index: 10;
        opacity: 0;
      }
    }
    .cancelled {
    }
  }

  th .fa {
    display: inline-block;
    text-decoration: none;
    font-size: 1.25em;
    margin-left: 10px;
    &.delete {
      background-image: url('delete.png');
    }
    &.fa-clock-o {
      margin: 0;
      font-size: 1.5em;
    }
  }

  .ui-icon {
    text-indent: 0;
    background: none;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: black;
  }

  .ui-icon:before {
    content: "\f0d7";
  }
}

select {
  background-color: white;
}

option.atype {
  background-color: white;
  font-size: 15px;
  padding: 3px;
}

#site-table-container {
  overflow: hidden;
  width: 100%;
}

#table-name-head {
  position: absolute;
  left: 0;
  top: 0;
}

#table-head {
  margin-left: 188px;
  overflow: hidden;

  th.first_col {
    border-left: none;
  }
}

#table-names {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;

  a {
    color: #000;
    &:hover {
      color: #000;
      background-color: transparent;
    }
  }
}

#header-container {
  position: relative;  
}

#body-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

#table-main {
  margin-left: 188px;
  overflow: auto;

  table {
    border-right: 1px solid #999
  }
  td.first_col {
    border-left: none;
  }
}

#site-header {
  h1 {
    display: inline-block;
    margin: 0;
  }
  .change-section {
    vertical-align: super;
    text-decoration: underline;
    font-size: 1em
  }
}

#site-actions {
  margin: 10px 0 20px 0;
}

tr.separator {
  color: #FFFFFF;
  background-color: #555;
  cursor: pointer;
}

#expand-inactives {
  color: #FFFFFF !important;
  text-decoration: none;
  margin-left: 5px;
}

.settings-group {
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  &:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
  }
}
.indent {
  padding-left: 15px;
  margin-top: 5px;
}
.indent2 {
  padding-left: 45px;
  marging-top: 5px;
}

button.fa {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

#csv-dialog {
  padding: 0;
  text-align: center;
  a {
    float: none;
    display: inline-block;
    margin-left: 15px;
  }
  input {
    margin-left: 10px;
  }
  p {
    margin: 1.5em 0 0;
  }
}

.roles-config {
  margin-bottom: 15px;
  padding-left: 10px;
  h4 {
    margin: 0 0 5px;
  }
  input {
    margin-left: 10px;
    &[disabled] + label {
      color: #C4C2C2;
    }
  }
}

body .ui-menu {
  .ui-menu-item {
    font-size: 15px;
    padding: 5px 1em 5px .4em;
  }
}

.start-header {
  padding: 0 3px;
}
.code-div {
  border-top: 1px solid #999;
  padding-top: 3px;
  margin-top: 3px;
}
button.code-action {
  border: none;
  border-radius: 0;
  text-decoration: underline;
  background: none;
  cursor: pointer;
  padding: 0;
  i {
    margin-right: 5px;
    vertical-align: middle;
  }
}

.settings-section {
  margin-bottom: 15px;
  border: 1px solid #999;
  h3 {
    margin: 0 0 10px;
    padding: 10px;
    background-color: #ddd;
  }
}
