// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#site_attendance {
  clear: both;
  margin-top: 10px;
  table {
    border-collapse: collapse;
    table-layout: fixed;
    tr.even {
        background-color: #efefef;
    }
    tr.separator th {
      border-right: none;
      border-left: none;
      text-align: left;
      font-size: 14px;
    }
    th, td {
      padding: 5px;
      line-height: 25px;
      height: 25px;
      width: 170px;
      min-width: 170px;
      max-width: 170px;
      white-space: nowrap;
      overflow: hidden;    
    }
    th {
      border: 1px solid #999;
      border-bottom: 2px solid #444;
      text-align: center;
    }
    td {
      border: 1px solid #999;
      text-align: center;
      &.name {
        .next-to-remove {
          display: block;
          float: left;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 150px;
          font-size: 14px;
        }
        .remove-user-link {
          display: block;
          float: right;
          width: 20px;
        }
        text-align: left;
      }
      &.attendancetype {
        position: relative;
        padding: 0;
        .ui-selectmenu-button {
          width: 100%;
          border: none;
          border-radius: 0;
          background: none;
          vertical-align: middle;
          height: 35px;
        }
        .ui-selectmenu-text {
          text-align: center;
        }
      }
      select {
        font-size: 12px;
      }
    }
    .cancelled {
    }
  }

  th .fa {
    display: inline-block;
    text-decoration: none;
    font-size: 1.25em;
    margin-left: 5px;
    vertical-align: middle;
    &.delete {
      background-image: url('delete.png');
    }
  }

  .ui-icon {
    text-indent: 0;
    background: none;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: black;
  }

  .ui-icon:before {
    content: "\f0d7";
  }
}

select {
  background-color: white;
}

option.atype {
  background-color: white;
}

#site-table-container {
  overflow: hidden;
  width: 100%;
}

#table-name-head {
  position: absolute;
  left: 0;
  top: 0;
}

#table-head {
  margin-left: 181px;
  overflow: hidden;

  th.first_col {
    border-left: none;
  }
}

#table-names {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;

  a {
    color: #000;
    &:hover {
      color: #000;
      background-color: transparent;
    }
  }
}

#header-container {
  position: relative;  
}

#body-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

#table-main {
  margin-left: 181px;
  overflow: auto;

  table {
    border-right: 1px solid #999
  }
  td.first_col {
    border-left: none;
  }
}

#site-header {
  margin-bottom: 10px;
  h2 {
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle;
  }
  .lessimportant {
    float: right;
  }
}

tr.separator {
  color: #FFFFFF;
  background-color: #51504C;
  cursor: pointer;
}

#expand-inactives {
  color: #FFFFFF !important;
  text-decoration: none;
  margin-left: 5px;
}

.settings-group {
  margin-bottom: 20px;
}
.indent {
  padding-left: 15px;
  margin-top: 5px;
}
.indent2 {
  padding-left: 45px;
  marging-top: 5px;
}

button.fa {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

#csv-dialog {
  a {
    float: none;
    display: inline-block;
    margin-left: 15px;
  }
  input {
    margin-left: 10px
  }
}
